*.class
*.jar
*.war
*.log

# NetBeans
nbbuild/
build/
dist/
nbdist/
.nb-gradle/
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
.LCK*

# IntelliJ
.idea/
*.iml
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
